@using System.Linq


@{
    ViewBag.Title = "Home Page";
}

@using System.Linq


@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        @foreach (var product in Model.AllProducts)
        {
            <div class="col mb-4">
                <a href="@Url.Action("ProductDetail", "Home", new { id = product.Id })">
                    <div class="card text-white bg-secondary square-card">
                        <img src="@product.Url_image" class="card-img-top square-image" alt="@product.Name">
                        <div class="card-header">@product.Name</div>
                        <div class="card-body">
                            <h5 class="card-title">@product.Description</h5>
                            <p class="card-text">Precio: @product.Price</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</main>

<style>
    body {
        background: linear-gradient(to top, #D3959B, #BFE6BA);
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .square-card {
        background-color: #f0f0f0;
        border: none;
        padding: 10px;
        width: 100%;
        height: 100%;
        transition: transform 0.3s;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .card-img-top.square-image {
        max-width: 100%;
        max-height: 70%;
        object-fit: contain;
    }

    .card:hover {
        transform: translateY(-5px);
    }

    .card h5 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .card p {
        margin-bottom: 3px;
    }
</style>

