@model UI_MVC.Models.ProductView

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <div class="row">
        <div class="col-md-6">
            <div class="card text-white bg-secondary square-card" style="margin-top: 20px;">
                <!-- Ajusta el valor de margin-top según tu preferencia -->
                <img src="@Model.Url_image" class="card-img-top square-image" alt="@Model.Name">
                <div class="card-body">
                    <h3 class="card-title">@Model.Name</h3>
                    <p class="card-text">@Model.Description</p>
                    <h4>Precio: $@Model.Price</h4>
                    <p>Stock Disponible: @Model.Stock</p>
                    <p>Brilla: @(Model.Shine ? "Sí" : "No")</p>
                    <div class="mt-4">
                        <button class="btn btn-primary">Agregar a Favoritos</button>
                        <button class="btn btn-success">Agregar al Carrito</button>
                        <button class="btn btn-info">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background: linear-gradient(to top, #D3959B, #BFE6BA);
        margin: 0;
        padding: 0;
    }

    .square-card {
        background-color: #f0f0f0;
        border: none;
        padding: 10px;
        max-width: 800px; /* Ancho máximo fijo */
        width: 100%; /* Ancho mínimo para dispositivos pequeños */
        min-height: 100%;
        margin: 0 auto; /* Centrar horizontalmente */
        transition: transform 0.3s;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .card-img-top.square-image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .card h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .card h4 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .card p {
        margin-bottom: 3px;
    }
</style>

